docker {
	enabled = true
	temp = 'auto'
	runOptions = '-u $(id -u):$(id -g)'
}


profiles {
	standard {
		process.executor	=	'local'
		process.cpus		=	8
		process.memory		=	'16 GB'
        process.queueSize   =   5
	}

	hpc {
		process.executor	=	'local'
		process.cpus		=	64
		process.memory		=	'128 GB'
        process.queueSize   =   20
	}
}

params {
        help                                    =                       false

        ontAmplicon                             =                       null
        ontShotgun                              =                       null

        illuminaShotgun                         =                       null

        reference                               =                       "$baseDir/assets/genomes/HXB2_1867to5058.fasta"
        primer                                  =                       "$baseDir/assets/primers/primerpair_pol.bed"
        medakaModel                             =                       "r1041_e82_400bps_sup_g615"
        thread                                  =                       8

        fastPPhred                              =                       30

        hydraReportThreshold                    =                       1
        hydraConsensusPercent                   =                       100
        hydraMinReadQuality                     =                       20
        hydraMinReadLength                      =                       100
        hydraMinScoreCutoff                     =                       30
        hydraMinVariantQuality                  =                       30
        hydraMinVariantDepth                    =                       100
        hydraMinVariantFrequency                =                       0.01
        hydraMinAlleleCount                     =                       5

        nanoqMinReadQuality                     =                       10
        nanoqMaxReadQuality                     =                       100
        nanoqMinReadLength                      =                       200
        nanoqMaxReadLength                      =                       2000
        nanoqTrimStart                          =                       0
        nanoqTrimEnd                            =                       0

        raconMatchScore                         =                       3
        raconMismatchScore                      =                       -5
        raconGapPenalty                         =                       -10
        raconWindowLen                          =                       500
        
        minimapOpenPenalty                      =                       10
        minimapExtenPenalty                     =                       7
        minimapPreset                           =                       "map-ont"

        templateHtmlRunReport                   =                       "$baseDir/assets/report_template.html"


        sierraXML                               =                       "$baseDir/assets/HIVDB_9.8.xml"
        sierraMutationDBComments                =                       "$baseDir/assets/drugClass_comments.csv"

        markdownFile                            =                       "$baseDir/bin/pdfReportGenerator.Rmd"
        logo                                    =                       "$baseDir/assets/logo.png"
        reportHeader                            =                       "$baseDir/assets/header.tex"

}
